.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.info {
  margin: 0 2%;
  flex-grow: 2;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.topflex{
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-right: 2%;
}

.fav_icon{
  align-self: flex-end;
  margin: 5px, 5px;
}

.empty{
  width: 10px;
} 

.gym_name{
  color: slategray;
}

.rating {
  font-size: 0.75em;
  color: #2c292b;
}
.rating h2 {
  margin: 0 0;
}

.difficulty{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.difficulty h3 {
  margin: 0rem 1rem;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}


.noPadding {
  margin: 0;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}