.form_label{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-width: 0px;
    border-radius: 150px;    
    height: 50px;
    text-align: center;
    font-size: larger;
    width: 80%;
    margin-bottom: 2.5%;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: baseline;
}