.card{
  background-color: white;
  border-radius: 6px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}


.imageContainer {
  position: relative;
  width: 50%;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.otherbox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imgButton {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.formContainer {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
}

.innerRight {
    display: flex;
    margin: 1rem;
}

.formleft {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
