.contents{
	margin: auto;
	width: 80%;
	text-align: center;
	padding: 15%;
	opacity: 100%;
	max-height: 100%;
  }

.signup_header
{
	font-size: 30px;
	color: black;
	text-align: center;
	
}


.profile {
	align-content: center;
	width: 4rem;
	height: auto;
	
	/* background-image: url(https://commons.wikimedia.org/wiki/File:Photo_of_%22Gangster_Jimmy%22_taken_for_his_YouTube_profile_picture.jpg); */
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 10rem;
}