	.signup-header
	{
		font-size: 30px;
		color: black;
		text-align: center;
		margin-top: 30px;
		
	}
	
	.signup-label
	{
		font-size: 11.5px;
		color: black;
		margin-top: 20px;
	}
	
	.signup-container
	{
		margin: -2% 0 0 -33%;/* top right bottom left */
		position: relative;
		text-align: center;
	}
	
	
	input[type=form_control], input[type=password]
	{
		width: 50%;
		padding: 5px 10px;
		margin-left: 10px;
		border: 2px solid black;
		border-radius: 20px;
		outline:none;
	}		
	
	#ending {
		margin-bottom:50px;
	}
	
	a:link[type=submit_i], a:link[type=submit_j]
	{
		text-decoration: none;
		text-align: center;
		padding: 5px 10px;
		width: 15%;
		background-color: white;
		border-color: #424549;
        border: 2px solid black;
		border-radius: 20px;
		margin-top: 20px;
		margin-right: 20px;
		color: #424549;
		float: right;
		cursor: pointer;
		outline:none;
		position: relative;
	}
	

	
	a:link[type=submit_j]
	{
		float: left;
		margin-left: 20px;
	}

	h5 {
		color: white;
		margin-top: 50px;
		background-color: #1e2124;
		padding: 10px;
        box-shadow: 5px 10px black;
        border-radius: 15px;
        visibility: hidden;
	}