.profile {
	align-content: center;
	width: 8rem;
	height: 8rem;
	object-fit: cover;
	
	/* background-image: url(https://commons.wikimedia.org/wiki/File:Photo_of_%22Gangster_Jimmy%22_taken_for_his_YouTube_profile_picture.jpg); */
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 10rem;
}